<app-navbar></app-navbar>

<div class="main">
    <form action="" [formGroup]="form" class="loginform" (ngSubmit)="login()">
        <div class="alert">
            {{alertMsg}}
        </div>
        <div class="inputs">
            <label for="">Email</label> <br>
            <input type="email" name="email" id="useremail" formControlName="email">
            <p class="error" *ngIf="!form.get('email')!.valid && form.get('email')!.touched">This field is invalid</p>
        </div>
        <div class="inputs">
            <label for="">Password</label> <br>
            <input type="password" name="pwd" id="userpwd" formControlName="password">
        </div>
        <div class="submitbtn">
            <input type="submit" value="Login" data-cy="loginbtn">
        </div>
    </form>
</div>
