<app-navbar></app-navbar>

<div class="main">
    <form action="" class="loginform">
        <div class="inputs">
            <label for="">Email</label> <br>
            <input type="email" name="email" id="useremail">
        </div>
        <div class="inputs">
            <label for="">Password</label> <br>
            <input type="password" name="pwd" id="userpwd">
        </div>
        <div class="submitbtn">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
