.loginform{
    height: 40vh;
    width:40vw;
    padding:20px;
    background-color: rgb(162, 106, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs{
    padding: 10px;
}

.inputs > input{
    padding:5px;
}

.submitbtn>input{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(60, 215, 60);
    /* width:50% */
    border: none;
    color: white;
}

.alert{
    color:rgb(19, 216, 19)
}